[2014-04-14 22:49] goradiantweb opened #5 "Checkbox & Checkbox list not listed"
Need to document Checkbox and Checkbox list along with available options

https://github.com/octobercms/docs/blob/master/backend-forms.md

[2014-04-14 22:53] goradiantweb opened #6 "Checkbox - Label is active as text val and should be label"
Checkbox Label is incorrectly serving as text value for the checkbox.

There should be an additional option for the text value, and the label should instead be the actually label.

Currently the checkbox field has no label.

[2014-04-14 22:56] goradiantweb opened #7 "Form Widget needs clarification from a plugin instal context"
Plugin form Widget's can pretty much be structured however dev's wish.

It would be sensical to articulate recommended file placement.

To which I believe should be:

/plugins/authorname/pluginname/modules/backend/formwidgets/widgetname

[2014-04-14 22:57] #6 closed, assigned to nobody

[2014-04-17 11:50] alekseybobkov opened #8 "Advanced console"

[2014-04-17 11:51] alekseybobkov opened #9 "Installation"

[2014-04-17 11:51] alekseybobkov opened #10 "System requirements"

[2014-04-22 08:08] daftspunk opened #11 "Available form widgets"
Document usage for:
- CodeEditor
- Datepicker
- FileUpload
- Relation
- RichEditor

[2014-04-22 08:10] alekseybobkov opened #12 "Linking a current page, with parameters"
When we need to create a link to the current page and pass parameters to the URL:

[code]

[2014-04-23 19:20] ChadStrat opened #13 "Need doc on defining user group settings from plugins"
Need doc on defining user group settings from plugins.

Need users of a plugin to be able to define or limit access to plugin pages by user group wherein editing a user group plugin tabs can be added to provide task permissions:
- plugin tab
  - can_do_something permission

/backend/backend/groups/update/group#

[2014-04-29 02:40] daftspunk opened #14 "Gateway API"
Linked from the Settings > API page.

[2014-04-29 02:48] ChadStrat opened #15 "More specific how-to's for common needs"
It would be helpful to have entry point doc's on specific how-to's. Specifically for some of the most common design needs that may have some layer of complexity for newcomers to the platform. (fully aware that in sum all parts seem to be doc'd, but in some cases it's quite spread out and difficult to extrapolate)

This may need to be a simple "Examples" doc area?

Examples:
- Image Slider
- Contac

[2014-05-16 23:18] daftspunk opened #18 "Overriding component partials"
### Components referencing partials

Components can reference their partials in two ways. First is an explicit method:

[code]

The second is a relaxed method:

[code]

The relaxed method is contextual:
1. If called inside a component partial, it will directly refer to itself.
2. If called inside a theme partial, it will scan all components used on the page/layout for a matching partial name and u

[2014-05-28 19:05] that0n3guy opened #26 "Polymorphic Many-to-Many"
We need some docs on polymorphic many-to-many relationships within a model.

[2014-06-03 00:01] john-mark-wilkinson opened #27 "url regex example in docs does not work"
In the url example of the "pages" docs, the following is given as an example of using regex in page verification: "/blog/:post_name?|^[a-z0-9\-]+$".

However, if you put that in the url when creating a page, you get the following error message:

"Invalid URL format. The URL should start with the forward slash symbol and can contain digits, Latin letters and the following symbols: _-[]:?|/+*".

Thi

[2014-06-03 01:29] john-mark-wilkinson opened #28 "Simple AJAX example from docs doesn't work"
If you follow the example code as presented on the AJAX documentation (http://octobercms.com/docs/cms/ajax), you will not get the expected result, as the partial does not render.

In the page markup:

[code]

In the page code:

[code]

In the calcresult partial:

`The result is {{ result }}`

The will show the form fine, and make the ajax call, but it will not render the partial in the `#result` d

[2014-06-12 09:02] Shahiem opened #30 "How to exend an existing navigation?"
Is it posible to extend a side menu with a new item for an existing navigation?

[2014-06-16 04:07] adis-io opened #32 "Question about console updating"
In which directory should I make `composer update`?

[2014-06-17 08:23] #32 closed, assigned to nobody

[2014-06-25 10:24] #18 closed, assigned to nobody

[2014-06-27 16:48] freestream opened #34 "Updated configuration example for lighttpd"
After OctoberCMS have grown with a lot more modules and updates i noticed that some changes needed to be made with the initial lighttpd configuration. I have modified the configuration example i provided last time to take in count for parameter arguments in js/css and and also to take in count for all imaginative places the plugin developers can place their asset files.

[code]

[2014-06-30 00:12] Flynsarmy opened #35 "Document 'partial' field type"
The `partial` form field type currently isn't documented.

[2014-07-07 01:44] ChadStrat opened #37 "backend controls could use label's"
I noticed it's pretty difficult to get canvas to play nice with these charts. Right now I have a 'note' to label them.  I think we need something more direct.  optional of course.

see attached

![screen shot 2014-07-06 at 9 24 17 pm](https://cloud.githubusercontent.com/assets/852537/3490697/363d2b8a-0578-11e4-8b4b-efaf88f24703.png)

[2014-07-07 11:35] Flynsarmy opened #38 "Developers should check for both controller and model when extending forms"
Twice now I haven't been able to display my plugin's model form because other plugins are interfering and adding fields to my form when they shouldn't be. This is because plugins are only checking for the correct controller and not the model too.

For example I've created a new plugin that adds a field to the User form. My field has a form of its own, but because I'm attached to the Users controll

[2014-07-07 18:38] jbh opened #39 "Form Field Types does not explain how to do checkboxes."
The [Form Field Types](http://octobercms.com/docs/backend/forms#form-field-types) documentation does not mention how to do checkboxes.

Here is an example of a checkbox form field:

[code]

[2014-08-19 18:28] #30 closed, assigned to nobody

[2014-08-23 01:13] #34 closed, assigned to daftspunk

[2014-08-23 01:18] #39 closed, assigned to nobody

[2014-08-23 01:19] #10 closed, assigned to nobody

[2014-08-23 01:19] #9 closed, assigned to nobody

[2014-08-23 01:25] #5 closed, assigned to nobody

[2014-08-23 01:25] #11 closed, assigned to nobody

[2014-08-23 01:26] daftspunk opened #45 "Document all available Twig tags"
Document all Twig tags registered by the system, as found in the code here:

[code]

[2014-10-24 07:55] #35 closed, assigned to daftspunk

[2014-11-06 04:03] firemankurt opened #55 "$context argument in extendListColumns example"
At https://octobercms.com/docs/backend/lists#extend-list-columns

I believe there should be no $context argument for this function:

Change:
    Categories::extendListColumns(function($list, $model, $context){

To:
    Categories::extendListColumns(function($list, $model){

[2014-11-10 09:40] #28 closed, assigned to daftspunk

[2014-11-18 23:55] scottbedard opened #59 "$encrypted / $encryptable attribute modifier"
Documentation is not clear on how to implement the encryption modifier. It is listed as both $encrypted and $encryptable, yet neither seem to be implemented.

http://octobercms.com/docs/database/model#attribute-modifiers

[2014-12-07 20:59] Sylvert0 opened #64 "[Enhancement] Search box"
It's possible to add a search box to the docs page? So when you need search something and you don't know where it's, you can found easily.

[2014-12-12 08:44] ghost opened #66 "CSS and Images don't load"
Good Morning Everyone

I just finished the October installation via the web-wizard, where anything seems to be fine, but now when i visit the url on n0ah.roundedge.ch i just get the html withoud images or css. I also cannot access any of the other pages. When i add index.php to the end of the url the homepage gets displayed correctly.
When i then try to access the backend i also just get the html,

[2014-12-12 08:45] #66 closed, assigned to nobody

[2015-01-05 01:06] scottbedard opened #70 "Typo in URL of documentation link"
The markdown documentation link in the "Edit Details" section of a plugin's dashboard is pointing to

http://octobercms.com/docs/help/makrdown

instead of

http://octobercms.com/docs/help/markdown

[2015-01-05 02:30] daftspunk commented on #70
Thanks, I fixed this typo, it will be fixed in the next deployment

[2015-01-05 02:30] #70 closed

[2015-01-18 22:54] Flynsarmy opened #73 "ListsController::extendListColumns() has no third argument?"
The docs say `MyController::extendListColumns` [accepts 3 arguments](http://octobercms.com/docs/backend/lists#extend-list-columns) however when attempting to use the documented code I get

Does the third argument be there, or should the documentation say `$context=''` ?

Here's the code I'm using for reference:
[code]

[2015-01-19 07:59] #73 closed

[2015-02-12 05:21] jbibbs opened #77 "Build 185 Fails to update"
Wrong project - sorry.

[2015-02-12 05:26] #77 closed

[2015-02-27 23:22] #55 closed

[2015-02-27 23:22] daftspunk commented on #7
We have a handy scaffold command for this now!

``php artisan create:formwidget Plugin.Name FormWidgetName``

Should take care of it!

[2015-02-27 23:22] #7 closed

[2015-02-27 23:24] daftspunk commented on #27
Confirmed this has been fixed / no longer occurs

[2015-02-27 23:24] #27 closed

[2015-02-27 23:24] #38 closed

[2015-02-27 23:25] daftspunk commented on #59
Should be all good now

[2015-02-27 23:25] #59 closed

[2015-05-16 07:39] daftspunk commented on #64
Feature noted, thanks. Use google for now

[code]

[2015-05-16 07:39] daftspunk commented on #45
Markup guide is complete

[2015-05-16 07:39] #45 closed

[2015-06-15 11:03] PhillipMwaniki opened #113 "Building markdown files"
Hello,
    I need the docs offline but I do not know how to build the markdown files. Any help would be good.
I am on windows by the way

[2015-06-24 13:42] FelixINX opened #118 "Multilanguage support"
OctoberCMS has been translated to 20 language. Why not docs?

[2015-09-07 21:00] felixinx commented on #113
You don't need any software to build docs. If you want the online version, offline, try using [zeal](http://zealdocs.org/).

If you want to view the Markdown only, try http://markdownpad.com/

[2015-09-13 08:12] KirillArtemenko commented on #12
When we need to create a link to the any page inside component:
[code]

[2015-09-21 16:30] #113 closed

[2015-09-25 21:00] FelixINX opened #128 "Missing UI and MARKUP docs"
Hi,

The UI and Markup docs are missing :sob: .

[2015-09-25 21:40] dshoreman commented on #128
The Markup docs are in [the CMS section](https://octobercms.com/docs/markup). You can find UI docs inside `modules/system/assets/ui/docs`.

[2015-09-25 21:40] #128 closed

[2015-09-25 21:45] daftspunk commented on #128
This ^

[2015-09-26 00:24] FelixINX commented on #128
Can we make pull request to this docs?

[2015-09-26 03:41] daftspunk commented on #128
Of course =)

[2015-09-26 19:08] FelixINX commented on #128
Yes, but the docs are not the same as the online version. Ex:
![october docs ui](https://cloud.githubusercontent.com/assets/8009156/10119295/402940c8-6460-11e5-9d2b-dbf6c0e00a8d.png)

You can see there are a lot of difference. I will upload UI docs to this repo, and adjust it with online version if you agree :+1: .

[2015-09-27 09:27] jofrysutanto opened #129 "Model `attachOne` and `attachMany` is now missing from re-organised documentation"
Can't seem to find the documentation on File attachment anymore?

[2015-09-27 17:53] alxy commented on #129
The ``$jsonable`` attribute modifier is also missing in the new docs.

[2015-09-28 10:44] FelixINX commented on #64
I know that MkDocs (probably what is used here) has a search function. [Docs](http://www.mkdocs.org/user-guide/styling-your-docs/#search-and-themes)

[2015-09-28 22:41] daftspunk commented on #129
Fixed in a948ea21ef52490e66da0effdc79f048f2ae0610

[2015-09-28 22:41] #129 closed

[2015-09-28 22:42] jofrysutanto commented on #129
Awesome!

On Tue, 29 Sep 2015 at 8:41 am, Samuel Georges <notifications@github.com>
wrote:

[2015-09-28 23:45] FelixINX commented on #128
The `invalid` tag should be removed.

[2015-10-10 03:32] waipy opened #136 "I want to translate the doc to chinese language!"
who can help me how to do that let the doc has multiply languages edition!

my English is poor! but I want to do this challenge!

[2015-10-10 03:33] waipy commented on #118
I have the same question

[2015-10-10 07:46] sajjad-ser commented on #118
+1 for this

[2015-10-13 08:15] FelixINX commented on #64
Done!

[2015-10-13 08:17] #64 closed

[2015-10-13 23:13] FelixINX opened #139 "[search] UI and Markup are not indexed, and as no searchbar"
Hello,

The UI and Markup docs has no search function, for be searched, or to search.

Thanks!

[2015-10-13 23:14] FelixINX commented on #136
You cannot translate the docs for now. Refer to #118

[2015-10-14 07:07] MatissJanis commented on #118
The docs are constantly changing. Introducting multiple languages to the docs would mean that each language needs a manager looking after it and updating as we go. I don't think that this is a good idea at this point in time.

[2015-10-19 16:49] that0n3guy opened #141 "[bug] Lots of JS broken on UI docs"
See here: https://octobercms.com/docs/ui/popup

The example buttons don't work, same with tabs, tooltips, etc...

[2015-10-20 20:42] keiosweb commented on #141
+1

```TypeError: (intermediate value)(...) is not a function```

I think that minified JS needs to be regenerated and checked.

[2015-10-21 09:10] pbtlt opened #142 "Inaccuracy in setup-configuration Nginx configuration paragraph"
If Octobercms  placed in root folder / , folowing rewrite rules won't work:

[code]

Because right path must starts with slash symbol like this:

[code]

Probably if you are under subfolder location like /cms/, maybe rules without forward slash will work. Actually I haven't checked this moment.

[2015-10-21 20:11] jwilson8767 opened #143 "Schedule options listed in docs that are not available until L5.1"
The [docs on task scheduling](https://octobercms.com/docs/plugin/scheduling) list before() and after() as being valid, however they were not introduced until after L5.0. [Here is the commit](https://github.com/laravel/framework/commit/415929a69c8c1bfe0b10b3a90b6216a31c9bbeb9) where before() was added. after() was called then() until [this commit](https://github.com/laravel/framework/commit/fc06322

[2015-10-22 20:01] jwilson8767 opened #145 "dead link"
[this page](https://octobercms.com/docs/cms/ajax#pushing-content-updates) has dead link in last sentence: "display flash messages"

[2015-10-24 00:26] #145 closed

[2015-11-09 02:02] jwilson8767 opened #148 "Document component partial access to properties"
`{{__SELF__.property('some-property')}}` should be documented [here](https://octobercms.com/docs/plugin/components#referencing-self) for accessing properties of the component from its partials.

[2015-11-13 12:32] pbtlt opened #149 "Add Git (and may other VCS) recommendations"
Would be great if you add how to use October with Git. It may be blog post or documentation page.

I think these advices from authors of October will be useful:
Which files need to be excluded.
Does developer need include into Git menus and pages created by Static Pages plugin?
Is that OK to use Git on production server? And deploy via push command? If yes, what have to do with changes made by cus

[2015-11-13 13:52] huseyinkozan commented on #141
+1

[2015-12-23 15:55] lincolnbrito commented on #118
I want to contribute in Brazilian Portuguese - pt_BR

[2016-01-28 13:58] vojtasvoboda commented on #118
I also want to create Czech language (cs_CZ) translation.

[2016-03-26 03:16] yourwebmaker opened #162 "Remove database structure section"
October's migrations rely on Laravel's migration.

Instead of keeping this documentation section up to date, I suggest to point the user to Laravel's migration docs: https://laravel.com/docs/5.1/migrations

[2016-03-26 03:18] daftspunk commented on #162
Thanks for the suggestion!

[2016-03-26 03:18] #162 closed

[2016-03-26 03:20] yourwebmaker commented on #162
Not only migration section. All database stuff. Both sections look the same.

[2016-07-03 08:09] LukeTowers opened #180 "[bug]: Unable to scroll fixed navigation sidebar"
When you are viewing a documentation page [like this for example](http://octobercms.com/docs/cms/themes), and you have the a sub listing open in the navigation sidebar, you are unable to scroll the sticky navigation sidebar independently of the main content area. This means that you have to scroll all the way to the bottom of the page just to view the rest of the navigation's items. As [some pages

[2016-07-03 08:13] LukeTowers commented on #162
@yourwebmaker Off the top of my head the Traits section is different in October and it is helpful so I wouldn't suggest removing it. But, yes, I agree there are a lot of sections that are taken directly from the Laravel documentation and that could do with either linking to Laravel's own documentation or having additional information provided for October specific use cases.

[2016-07-04 02:06] daftspunk commented on #180
Fixed, thanks!

[2016-07-04 02:06] #180 closed

[2016-07-09 12:52] reg2005 opened #182 "How to generate html docsets use current config?"
Hi! I translate into Russian. Than it is better to generate documentation?

[2016-08-03 10:03] #14 closed

[2016-08-16 07:45] trsh opened #190 "Dead link"
At the very bottom of https://octobercms.com/docs/backend/forms

[2016-08-20 05:34] #190 closed

[2016-08-20 05:34] daftspunk commented on #190
Fixed by #191

[2016-09-20 03:08] xNok opened #196 "DataTable, form widget not documented"
In discover this widget by looking at the [builder plugin](http://octobercms.com/plugin/rainlab-builder) database Table, but the only reference in found is [this old post](https://octobercms.com/forum/post/formwidget-datagrid).

The [backend-forms.md](http://octobercms.com/docs/backend/forms#form-widgets) should document this widget as well as the other formwidgets.

From the first post I think we

[2016-09-20 05:19] LukeTowers commented on #196
That readme only mentions one event, however I've found six events:
[code]
I've just listed in them my [master list of OctoberCMS events](https://docs.google.com/spreadsheets/d/17vv4zn_ezp9iFBgYhYuYsmUG4MXW9uuIw7aOIrVcHiM/edit?usp=sharing) so far, but more info on what this is for and how to utilize it would be great :)

[2016-09-21 09:58] daftspunk commented on #196
The widget itself should be called `datatable`, the documentation for it is located here:
https://github.com/octobercms/october/blob/master/modules/backend/widgets/table/README.md

[2016-10-02 20:35] vojtasvoboda opened #197 "Word-break missing"
Check screenshot. Maybe `word-break: break-all` will be enough.

![snimek obrazovky 2016-10-02 v 22 33 39](https://cloud.githubusercontent.com/assets/374917/19023525/662ea4e2-88f0-11e6-8dd2-82ad46990a6b.png)

At: Docs -> Backend -> Forms -> Rich editor / WYSIWYG.

Chrome 53 @ MacOS.

[2016-10-10 20:01] #197 closed

[2016-10-22 17:28] xNok opened #200 "Add explanation to create configurable formwidget"
I think the [form widget section](https://octobercms.com/docs/backend/widgets#form-widgets) need a little bit more explanation on how to make a formwidget configurable thought the Form field definitions.

The example of the datePicker widget could be an acceptable solution :

[code]

[code]

[2016-10-31 21:17] #200 closed

[2016-11-18 03:33] meysammahfouzi opened #205 "Documentation for front-end user management"
There is no documentation, whatsoever, as to how one can manage users on front-end side. The only thing available (for those who want to learn doing this) is the source code of `rainlab.user-plugin` which is not self-explanatory enough. I mean come on! add some documentation for front-end user management! Or if you do not have time to do that, make [laravel's authentication API](https://laravel.co

[2016-11-18 04:18] daftspunk commented on #205
Looks like the [published documentation](http://octobercms.com/plugin/rainlab-user) has gone stale against the most [up to date documentation](https://github.com/rainlab/user-plugin/blob/master/README.md). We'll fix this up. Thanks for the feedback!

[2016-11-18 20:46] #205 closed

[2016-11-18 22:34] daftspunk commented on #142
Fixed by #204

[2016-11-18 22:34] #142 closed

[2016-12-08 16:52] jaycbrf4 opened #209 "Add "has-errors" class to div if Ajax Validation fails"
My form element validates correctly but I am trying to add the class "has-errors" to the input group.

[2017-01-02 10:27] cainconstantine opened #214 "When will Chinese lang docs release?"

[2017-01-03 04:10] LukeTowers commented on #214
There are no plans at present to translate the documentation afaik.

Biggest thing on the horizon right now as far as documentation goes would be the API docs, although I'm not sure on the status of that right now.

[2017-01-28 20:34] #214 closed

[2017-01-28 20:36] LukeTowers commented on #209
@jaycbrf4 This issue does not make sense. Either ask for help on implementation details in the forums, IRC channel, or Slack team - or provide a clear explanation of what the issue with the documentation is.

[2017-01-28 20:36] #209 closed

[2017-01-28 20:39] LukeTowers commented on #143
Closing this as October is on Laravel 5.1 LTS now.

[2017-01-28 20:39] #143 closed

[2017-01-28 20:40] LukeTowers commented on #148
@jwilson8767 Add a PR to document it as requested and I'll merge it.

[2017-01-28 20:42] LukeTowers commented on #141
Sometime between then and now, the JS has been regenerated. Thus, this will be closed :)

[2017-01-28 20:42] #141 closed

[2017-01-28 20:42] LukeTowers commented on #214
Also reference #118

[2017-01-28 20:43] LukeTowers commented on #136
As above.

[2017-01-28 20:43] #136 closed

[2017-01-28 20:44] LukeTowers commented on #118
@daftspunk or @alekseybobkov any thoughts on this?

[2017-01-28 20:45] LukeTowers commented on #15
If anyone wants to write up a series of tutorials and send a link we can look at linking to it from the docs. However I think those tasks are better suited as pointing to using plugins from the marketplace instead.

[2017-01-28 20:45] #15 closed

[2017-01-28 21:02] FelixINX commented on #118
I will come back to my point ... and say no. The reason for @MatissJanis is very good. But above all, why translate the documentation, if the site is not translated. Ask @daftspunk and @alekseybobkov when the site will be open source, and when we can translate it!

[2017-01-30 06:20] daftspunk commented on #139
This search was added in June 2016.

[2017-01-30 06:20] #139 closed

[2017-01-30 20:26] LukeTowers commented on #209
@jaycbrf4 Does this addition help? https://github.com/octobercms/docs/commit/e335ae18a8d04c18b04bdaf3431ddb0a5ef81f5a

[2017-02-12 23:41] GWSB opened #221 "Add Instructions for Properly Setting up OctoberCMS using Laravel's Official Vagrant Box - Homestead"
It seems a little silly that there's nothing in the docs explaining how to get set up with October using the officially supported local dev environment.

I recognize that the config area explains how to set up nginx, as well as a few other important items. But it's not intuitive at all. There are a lot of people who blindly followed the instructions for setting Homestead up and may not know that t

[2017-02-13 10:42] abstractFlo commented on #221
What you mean? Nothing especially to do to run october cms with homestead out of the box. You need no changes

[2017-02-13 11:26] Eoler commented on #221
Have you seen this: https://octobercms.com/blog/post/setting-local-october-cms-environment-vagrant-configuration-tutorial
That's simplicity!

[2017-02-13 14:10] LukeTowers commented on #221
@abstractFlo Actually, there is a small gotcha when you use Homestead as your local environment; Homestead uses nginx, which means that if you want the server configuration rules to be applied properly (such as denying access to protected folders), you need to either take the whitelist approach by using a public directory or apply the nginx configuration rules to your project in Homestead.

[2017-02-21 09:40] SigalZ opened #224 "Help with setting up public folder"
Hi,

New to October. Using Wamp and php 5.6.25

Reading the configuration section I got stuck on this part: Using a public folder

When I ran the artisan command, I got the error:
symlink<>: Cannot create symlink, error code<1314>

The public folder was created, and I changed my httpd-vhosts file to point to the public folder.

My questions:

1. Which files should I move to the public folder?
2. W

[2017-02-21 17:13] LukeTowers commented on #224
This is a permissions error with the user that your WAMP web server is running as. It doesn't have the required permissions to create symbolic links (basically like desktop shortcuts, but used anywhere in your file system to link one location to the file contents that are actually located in another location).

You need to make sure that the user that WAMP is running as has permission to create sy

[2017-02-22 06:33] SigalZ commented on #224
Thank you very much LukeTowers.

One more question please, how would I run the artisan command on the deployment target?

Is there an article somewhere that explains how to go live with October?

[2017-02-22 15:12] LukeTowers commented on #224
You would use the command line / terminal / SSH to run the commands in the project directory.

I don't have any links to tutorials for working with the command line if you're completely new to that, but here's the docs on command line level commands that you can run with October http://octobercms.com/docs/console/commands

[2017-02-23 09:56] SigalZ commented on #224
Thx, I will have to contact my hosting company to see how do I run console commands on their server

[2017-03-02 17:55] ayumihamsaki opened #228 "Update Doc's a little unclear"
Doc's Found here: https://octobercms.com/docs/backend/widgets#form-widget-save-data

I think you should add this line in the Doc's:

`use Backend\Classes\FormField;`

So my suggestion is to have the Doc's look like this:

# Saving form data

When the time comes to take the user input and store it in the database, the form widget will call the `getSaveValue` internally to request the value. To modi

[2017-03-03 03:13] LukeTowers commented on #228
I'm not sure why this addition is necessary. All adding `use Backend\Classes\FormField;` would do is make it so that you can reference `Backend\Classes\FormField` as `FormField` in your code, which you aren't even doing in the code example.

[2017-03-03 03:14] #224 closed

[2017-03-03 03:15] LukeTowers commented on #221
Given that nothing actionable was brought up, I'm assuming that this can be closed now.

[2017-03-03 03:15] #221 closed

[2017-03-03 03:17] LukeTowers commented on #182
The documentation available at https://octobercms.com/docs is literally just mirrored into the `content/docs` directory of the OctoberCMS website AFAIK. Hopefully that helps, albeit a bit late.

[2017-03-03 03:17] #182 closed

[2017-03-03 03:22] LukeTowers commented on #148
Added in https://github.com/octobercms/docs/commit/bd715d26a78be7a4428c07a5f150d634d4f6e34c

[2017-03-03 03:22] #148 closed

[2017-03-03 03:23] #37 closed

[2017-03-03 03:26] LukeTowers commented on #26
This exists now: https://octobercms.com/docs/database/relations#many-to-many-polymorphic-relations

Added initially in https://github.com/octobercms/docs/commit/6fea5f3f6bf45b24aba189efd06e5cc2813fceca

[2017-03-03 03:26] #26 closed

[2017-03-03 03:26] #13 closed

[2017-03-03 03:27] #8 closed

[2017-03-04 01:34] ayumihamsaki commented on #228
Ok my bad, please close this Luke.

[2017-03-04 03:18] #228 closed

[2017-03-10 13:29] meysammahfouzi opened #231 "Parameters passed to the "getOptions" method"
According to [this answer on stackoverflow](http://stackoverflow.com/a/42684398/69537), there are some parameters passed to the "getOptions" method:

I failed to find it mentioned anywhere though. Has the above point been documented somewhere?

[2017-03-10 17:28] LukeTowers commented on #231
It's not, I'll document it.

[2017-03-10 17:40] #231 closed

[2017-03-10 17:40] LukeTowers commented on #231
Thanks for the report!

[2017-03-10 19:42] meysammahfouzi commented on #231
@LukeTowers Thanks for improving the document!

[2017-03-10 19:45] meysammahfouzi commented on #231
@LukeTowers That would be great if you could add an example usage of `$value` and `$formData`.

[2017-03-27 07:41] LukeTowers commented on #196
API docs are sparse on this right now, but available here: http://octobercms.com/docs/api/backend/formwidgets/datatable

@daftspunk Should the API docs generator be looking for additional documentation in the form of an identically named .md file to include with the inline documentation as well, or at least list them in the API docs folders that get generated? http://octobercms.com/docs/api/backen

[2017-03-27 07:43] #118 closed

[2017-04-15 08:23] MWalid opened #232 "Related Model Extend Not Documented"
Regarding this [issue](http://stackoverflow.com/questions/43420515/octobercms-related-model-dynamic-default-value/).

It would be wonderful to add documentation with code sample.

Thank you,

[2017-05-04 11:09] buuug7 opened #233 "Are this document support translated to other language?"
I want to translate this document to zh-cn, are supported?

[2017-05-04 14:15] LukeTowers commented on #233
Duplicate of #118 and #214. Please search the prior issues before creating new ones.

[2017-05-04 14:15] #233 closed

[2017-06-21 22:11] ekrokowski opened #242 "Nginx Configuration is wrong"
The current docs about Nginx config says:
[code]

Those locations actually have to be prefixed with `/` to make them work:

[code]

[2017-06-21 22:51] daftspunk commented on #242
Someone confirm this, then submit a pull request.

[2017-06-22 03:23] LukeTowers commented on #242
Also we still need the configuration section for disallowing PHP file execution on Nginx to be added. I believe @dshoreman was going to test his config then provide it?

[2017-06-25 21:47] dshoreman commented on #242
I was, until real life got in the way for reasons I won't go into here. Consequently, it's been a long time since I've worked with October - to the point where I've even hidden all plugins and themes from the Marketplace.

It's unlikely I'd be able to test this any time soon, so if anyone else is running Nginx feel free to chime in.

[2017-06-26 13:24] LukeTowers commented on #242
No worries @dshoreman, I hope everything works out for you. Would you be willing to paste the configuration you were working on as a base for someone else to test?

[2017-06-28 16:39] dshoreman commented on #242
@LukeTowers Sure, gist here: https://gist.github.com/dshoreman/f633063f4f0739dafe5289b8e8b68de4

Lines 24-26 could well be commented for reasons similar to what this issue aims to fix.

The script blocking magic happens on lines 33-35.

The first server block simply redirects to https - you could quite easily remove that along with the `ssl_*` rules and change `listen 443 ssl;` to `listen 80;` if

[2017-07-05 01:38] daftspunk commented on #196
No, one is PHP docs other is JS docs.

[2017-08-01 19:49] firemankurt opened #246 "Only mailables may be queued"
Error when trying to use documented Mail::queue()
See: https://octobercms.com/docs/services/mail#queueing-mail

Causes error:
"Only mailables may be queued." on line 354 of /site_directory/vendor/laravel/framework/src/Illuminate/Mail/Mailer.php"

Need to update Docs to include creating Mailables per: https://laravel.com/docs/5.4/mail#generating-mailables

Should include where to save mailable clas

[2017-08-11 18:08] cjbrooks12 commented on #242
For the record, I just deployed OctoberCMS successfully to nginx on Ubuntu 16.04 LTS using the current rewrite rules (without the leading `/`). Perhaps the docs should just include a note that a leading `/` _may_ be necessary, but try first without it?

[2017-08-11 18:11] LukeTowers commented on #242
Thanks for your input @cjbrooks12!

[2017-09-26 18:07] LukeTowers commented on #246
@firemankurt did this get fixed in the octobercms/october repository?

[2017-10-14 17:52] ndcisiv commented on #242
I've got a couple OctoberCMS installations running on Ubuntu 16.04 LTS, PHP 7.0.22, Nginx 1.10.3, and MariaDB 10.0.31.  I have the default config without the leading / and everything works perfectly.

[2017-10-20 04:40] datune opened #263 "Controllers-Ajax documentation"
The documentation refers to "controller behaviours below", but there is nothing on that subject to be found.

https://octobercms.com/docs/backend/controllers-ajax#passing-data-to-views

[2017-10-20 15:54] LukeTowers commented on #263
I believe it's talking about https://octobercms.com/docs/services/behaviors. Could you make a PR to update the wording and link to the correct page?

[2017-10-21 16:19] LukeTowers commented on #263
Fixed by #264

[2017-10-21 16:19] #263 closed

[2017-12-03 14:46] petehalverson opened #271 "Queue docs need to be updated for L5.5"
In Laravel 5.5 `queue:listen` and push queues have been deprecated.

[2017-12-08 18:53] #271 closed

[2017-12-08 18:56] petehalverson commented on #271
Thanks @LukeTowers!

[2018-02-14 08:24] chrisvidal commented on #182
trying to replicate the same documentation system but I cant get it right.
I see a file `config/toc-docs.yaml`, how and where is used ?

[2018-02-14 16:56] LukeTowers commented on #182
It's used by a simple PHP script on a CMS page to process & render the Table of Contents. I don't have access to it at the moment; but it shouldn't be too difficult to implement yourself.

[2018-02-15 03:15] chrisvidal commented on #182
Thanks Luke. Yes i will figured this out with using the Yaml Parser class.
Last question is about how do you generate the pages themselves?
I am thinking to generate them instead of creating them manually and forget some.

[2018-02-15 03:41] LukeTowers commented on #182
What do you mean how do you generate them? They're pulled in from the repo via git and added to the content directory

[2018-02-15 04:04] chrisvidal commented on #182
the repo is meant to be in placed in the content folder right ?
it is purely content and it is not page (i dont see any page title, no page url, ) so I am guessing that there are pages holding that content somewhere.

[2018-02-15 04:07] LukeTowers commented on #182
You'd use the TOC to get that information, and you would be using the content files as a static database rendering them as required on a CMS page through the `|md` filter

[2018-02-15 05:11] chrisvidal commented on #182
What? i dont get you here.
to display the url cms/theme/installation you need a page with this url defined that will contains the tag `{% content 'docs/setup/installation ' %}`
to display the url cms/theme/configuration you need another page with this url defined that will contains the tag `{% content 'docs/setup/configuration ' %}`

and so forth. right ?

or is there a way to have only one page u

[2018-02-15 05:24] LukeTowers commented on #182
@chrisvidal use URL parameters:
[code]

[2018-02-15 05:25] chrisvidal commented on #182
Holy Cow !
I didnt think about this at all. It makes sense.
Thanks Luke

[2018-02-15 06:34] LukeTowers commented on #182
No problem

[2018-02-15 08:36] chrisvidal commented on #182
in my case this works:
[code]

[2018-02-15 14:14] chrisvidal commented on #182
we cant use ````{% partial %}```` in content file ?

[2018-02-15 16:26] LukeTowers commented on #182
Content files are fairly limited in what they can do, as they are just content. If you want partials, use partials to hold partials

[2018-07-22 14:54] ghost opened #303 "Add MJS, Atom and RSS assets to the doc's"
This issue relates to the issue found on October's github here: https://github.com/octobercms/october/issues/3646 and also the PR found here: https://github.com/octobercms/october/pull/3648

## MJS and Atom

[code]

## addRss()

I did a search in this github and on October CMS and I can't find any mention of this, however it is clearly there in October's code when you do a die and dump. It would b

[2018-08-12 23:00] ayumihamsaki commented on #303
@LukeTowers

I was just working with some `.mjs` files and discovered this issue with mime-types:

JavaScript ([IANA Specification](https://www.iana.org/assignments/media-types/application/javascript)) ([RFC 4329 Section 8.2](https://tools.ietf.org/html/rfc4329#section-8.2))
`.js`
**_application/javascript_**

Javascript Modules ([Issue per Spec](https://github.com/whatwg/html/issues/558))
`.mjs`

[2018-08-12 23:26] LukeTowers commented on #303
@ayumihamsaki does it actually make a difference in any browser what the `type` attribute is?

[2018-08-13 09:39] ayumihamsaki commented on #303
@LukeTowers yes, I was reading last night that it does with the "Javascript Modules", but the normal JS will pass. That's why I wrote the comment above to let you know. What do you think, should we create a new mjs now as they have different mime-types?

[2018-08-13 13:56] LukeTowers commented on #303
@ayumihamsaki no, just update the documentation to say when including MJS pass the `type` parameter explicitly.

[2018-08-13 16:40] ayumihamsaki commented on #303
Document File Location: https://github.com/octobercms/docs/blob/master/plugin-components.md

[2018-08-17 14:27] ayumihamsaki opened #312 "Add minItems under Repeater Section"
As per this issue: https://github.com/octobercms/october/issues/3668

I think `minItems` needs to be added to the table and give a small explanation and maybe a small example code demoing the above github issue.

The location found in the doc's is here: https://octobercms.com/docs/backend/forms#widget-repeater

p.s. Have tested this in October V440 and is working fine.

[2018-08-17 14:38] ayumihamsaki commented on #312
Ah on updating the file I see it has been modified already to this:

`**minItems** | minimum items required. Pre-displays those items when not using groups. `

Can I add some extra information to it and say this:

`**minItems** | minimum items required. Pre-displays those items when not using groups. For example if you set `minItems: 1` the first row will be displayed and not hidden.`

[2018-10-17 15:46] ayumihamsaki opened #329 "Add Infomation about adding Icons to Tabs in YAML Files"
Opened this as per Luke's request.

See github Issue: https://github.com/octobercms/october/issues/3856#issuecomment-430420167

Add another section under this section found here: https://octobercms.com/docs/backend/forms#form-tab-options

## YAML File Example:

[code]

## To HTML File Example:

[code]

[2018-10-30 17:49] ghost opened #331 "How to register middlewareGroups in October's Plugin?"
Hi,

I have read the October CMS doc's found here: https://octobercms.com/docs/plugin/registration#registering-middleware

However, it does not mention how we can setup middleware groups. For example, I would like to convert the following code to register it in one of my plugins:

[code]

Note: The **_firewall_** registered middleware group.

Firstly, how can I set that in an October CMS Plugin un

[2018-11-12 19:03] LukeTowers commented on #196
@datune @daftspunk doesn't really check his GitHub notifications, reach out to him directly on Slack or email if you want a better chance of a response.

[2018-11-20 11:33] ayumihamsaki commented on #329
Closing this due to already been fixed as per this issue: https://github.com/octobercms/docs/pull/330

[2018-11-20 11:33] #329 closed

[2018-12-07 07:42] hlev opened #338 "{% page %} tag missing from documentation"
https://octobercms.com/docs/markup/tag-placeholder#checking-placeholder-exits contains a `{% page %}` tag in its example code, but the documentation does not mention this tag.

I found the corresponding parser, node and the comment https://github.com/octobercms/october/blob/master/modules/cms/twig/PageTokenParser.php
https://github.com/octobercms/october/blob/master/modules/cms/twig/PageNode.php

[2018-12-07 15:30] LukeTowers commented on #338
@hlev see https://octobercms.com/docs/cms/layouts#introduction. `{% page %}` is used to output the page content in layouts. Feel free to submit it to the docs with an explanation of that though

[2018-12-07 16:41] hlev commented on #338
@LukeTowers _{% facepalm %}_ Thanks, despite having built our site with OctoberCMS I "managed" to avoid this basic detail and got thrown off by our layout that does not include raw markup from a page, instead uses partials and user defined placeholders exclusively.

I will, for the sake of completeness, thanks!

[2018-12-11 21:19] #338 closed

[2018-12-30 22:36] alpapan opened #347 "Documentation for titlefrom (form repeater)"
Hello

Could we please have additional documentation (eg. a working example) at https://octobercms.com/docs/backend/forms for the titleFrom option of the Repeater field type?

It took me a while to figure it out but I **think** it only allows type:text fields. The documentation is not clear on how to use this option....

[code]
thanks!

[2018-12-31 01:31] alpapan opened #348 "Form Best practice for manytomany"
Hello

I seek the knowledge of the developer hive on what would be the 'right' way to implement form input (**fields.yaml**) for a field that has many to many relationships ($belongsToMany entries) when there are a lot of values to choose from.

1) I currently have only been able to use type: relation. This creates a series of check-boxes which is cumbersome when options go more than a dozen.

2)

[2018-12-31 03:13] LukeTowers commented on #348
Use the RelationController: https://octobercms.com/docs/backend/relations. Also, please don't open issues on the docs repo unless they're actually about the docs themselves.

[2018-12-31 03:13] #348 closed

[2019-01-01 08:54] alpapan opened #394 "Laravel artisan command make:job doesn't work as expected"
Hello

When trying to user artisan the laravel way (for example make:job), it complaints

[code]

##### Reproduce steps

You install any official way and the result will be the same

[code]
or
[code]
or
[code]
or
[code]
**Any of the above and then:**
[code]

NB: i'm on cygwin windows, not that should make a difference...

This is not a fatal bug for me but it is a bug nonetheless because it breaks

[2019-01-01 19:18] ayumihamsaki opened #349 "Here's some extra info to help Dev's speed up October CMS Loading"
October CMS tells developers to add the following code at the bottom of the web pages - to allow the October AJAX and some other things to work, see here:

[code]

## Making October CMS Load Faster

You can preload these files to speed up the loading of October CMS by adding the following two lines of code in your `<head>` section, e.g.

[code]

I would like to write a pr to add this extra informa

[2019-01-01 19:34] ayumihamsaki commented on #349
@LukeTowers Please review and happy new year.

[2019-01-02 05:59] LukeTowers commented on #349
@ayumihamsaki is there any benefit to just adding `rel="preload"` directly to the output of `{% framework %}` internally?

[2019-01-02 16:56] ayumihamsaki commented on #349
@LukeTowers Yes there would be a benefit to loading it directly. Adding the `rel="preload"` would make the waiting gap before the loading of the assets zero in waiting time! So instead of waiting for the previous assets to load it would load straight after the HTML asset has been loaded. On average running tests on a 4G network I lose around 1 second of waiting time and 2.5 seconds of waiting time

[2019-01-02 17:04] ayumihamsaki commented on #349
p.s. Let me know what you think. I might just close this issue here and open it up in the octobercms github instead.

[2019-01-02 18:18] ayumihamsaki commented on #349
@LukeTowers Yes there would be a benefit to loading it directly. Adding the `rel="preload"` would make the waiting gap before the loading of the assets zero in waiting time! So instead of waiting for the previous assets to load it would load straight after the HTML asset has been loaded. On average running tests on a 4G network I lose around 1 second of waiting time and 2.5 seconds of waiting time

[2019-01-02 18:45] LukeTowers commented on #349
Open a PR instead of an issue please. `{% framework %}` is typically supposed to be the head anyways

[2019-01-03 14:01] ayumihamsaki commented on #349
Opened github here: https://github.com/octobercms/october/issues/4030

Will close this one.

[2019-01-03 14:01] #349 closed

[2019-02-25 21:09] Humni opened #360 "Event Inconsistencies with mail.send"
I believe the docs are wrong with this event, the parameters specified in the docs are flipped for the mailer instance event and the Illuminate event

**Current Documentation in the Code (matches the [documentation](https://octobercms.com/docs/api/mailer/send))**
[code]

The issue is that the `Event::fire();` has the parameters that are documented for `$mailerInstance->bindEvent()`.

**Solution 1:

[2019-02-25 21:57] LukeTowers commented on #360
@Humni good catch. Docs are wrong, flip em! Thanks! :)

[2019-02-25 22:58] #360 closed

[2019-03-14 17:23] LukeTowers commented on #331
@ayumihamsaki why'd you close this?

[2019-03-14 18:22] ayumihamsaki commented on #331
@LukeTowers The only reason I closed this was because of no answer to this issue for a long period of time and I was going through all my Github Issues and clearing things up.

I am happy to keep this issue open and hope a solution can get added to the doc's in the near future.

[2019-03-16 05:03] LukeTowers commented on #331
We can leave it open for now. At some point someone might take care of it.

[2019-06-28 20:42] Pedroxam opened #379 "How to migration database"
Hello,

after i enter database details to database.php, now i want import database.

but "php artisan migration" not work"

how can i import database ?

[2019-06-28 20:57] LukeTowers commented on #379
If you want to setup a new database by running your migrations, run `php artisan october:up`. If you want to import an existing database, use whatever tool you typically use to manage your databases.

Github issues really isn't the place for questions like this. Please use one of the many other avenues available instead of submitting new issues for your questions.

Forum: https://octobercms.com/fo

[2019-06-28 20:57] #379 closed

[2019-06-28 21:01] Pedroxam commented on #379
Thanks @LukeTowers , i read the documents on "https://octobercms.com/forum", and i will never find my answer. anyway , my problem now is fixed, thanks.

[2019-08-08 10:47] ghost opened #392 "Link doesn't exist"
Go to this section: https://octobercms.com/docs/cms/pages/#page-variables

Click on the link: `this.page variable`

Goes to this web page: https://octobercms.com/docs/cms/markup/this-page

404 Error.

[2019-08-08 12:23] w20k commented on #392
@ayumihamsaki works now:
https://octobercms.com/docs/markup/this-page

[2019-08-08 13:29] ayumihamsaki commented on #392
haha thanks for the answer will create a pr for that:

[code]

- Two different URL's.

[2019-08-08 13:31] w20k commented on #392
@ayumihamsaki try again, it's fixed for me ;)

Screenshot:
<img width="1287" alt="Screenshot 2019-08-08 at 16 30 43" src="https://user-images.githubusercontent.com/1053320/62707388-ed418480-b9f9-11e9-80a4-3bf6239c0426.png">

[2019-08-08 13:32] ayumihamsaki commented on #392
@w20k

I think it needs to be `../../` not `../`

[2019-08-08 13:34] w20k commented on #392
@ayumihamsaki for me it works as expected. Don't see a reason to fix it :)

[2019-08-08 13:36] ayumihamsaki commented on #392
@w20k

`../` gives:

[code]

`../../` gives:

[code]

[2019-08-08 13:44] ayumihamsaki commented on #392
@w20k present for you: https://youtu.be/LlRRdSWopx4

[2019-08-08 13:50] w20k commented on #392
@ayumihamsaki you definitely having some issue.

https://octobercms.com/docs/markup/this-page

[2019-08-10 14:32] LukeTowers commented on #392
@ayumihamsaki what's in your URL bar when you have that result before clicking the link? Tested it in Chrome, Firefox, & Safari on Mac OS and they all work fine.

[2019-08-10 15:42] ayumihamsaki commented on #392
@w20k @LukeTowers No problem here is a screenshot:

![luke](https://user-images.githubusercontent.com/17784082/62823787-fd3d9d80-bb8c-11e9-9557-4356dbe1e375.png)

I don't want to sound rude, but I understand why you guys get one set of results and I get another - it's because browsers don't work exactly the same for every user. Is there a better way to test such problems because we could have 10 p

[2019-08-10 15:50] LukeTowers commented on #392
@ayumihamsaki Your URL is `cms/pages/`, however when I browse to `https://octobercms.com/docs/cms/pages/` I get automatically redirected to `https://octobercms.com/docs/cms/pages`. The issue is that you are not being redirected, or your browser is choosing to ignore that redirect. The official canonical URL for that page is `https://octobercms.com/docs/cms/pages`, which means that the URL as built

[2019-08-10 16:10] ayumihamsaki commented on #392
@LukeTowers This is going to sound crazy but browsers and search engine bots ignore canonical URL's. I had a look chat about this with a Googler a few months ago. He told me they usually ignore them - which I was gutted when he said that.

Here's the test results for that link with any redirects:

![test](https://user-images.githubusercontent.com/17784082/62824143-baca8f80-bb91-11e9-8ed5-9beecc24e

[2019-08-10 16:17] LukeTowers commented on #392
that URL is incorrect, but testing `https://octobercms.com/docs/cms/pages/` for a redirect to `https://octobercms.com/docs/cms/pages` didn't trigger a redirect so this is an issue for the marketplace site to handle.

[2019-09-03 00:16] jjfmarket commented on #394
An appropriate error message would really help here

[2019-09-03 17:36] LukeTowers commented on #394
@jjfmarket pull requests accepted! 😉

[2019-09-09 12:46] aurelien-roy opened #401 "Outdated content for extending form ?"
It seems two different pages of the doc gives two different solutions for extending a backend form.

### Page 1 "Backend > Extending Plugins ":
[https://octobercms.com/docs/plugin/extending#extending-backend-form](https://octobercms.com/docs/plugin/extending#extending-backend-form)
Here it is advised to listen the "**backend.form.extendFields**" (or the "**backend.form.extendFieldsBefore**") event

[2019-09-09 19:04] LukeTowers commented on #401
@aurelien-roy both methods are valid in different ways. `extendFormFields()` is only available on a controller class and actually hooks into those events and is essentially just an easier way of limiting the listener for you: https://github.com/octobercms/october/blob/master/modules/backend/behaviors/FormController.php#L865

[2019-09-09 19:04] #401 closed

[2019-09-26 12:12] SaifurRahmanMohsin commented on #196
@LukeTowers Is there any documentation available on using a Server-side data table? I'm trying to use it in a form and I'm not able to figure it out.

[2019-09-26 21:25] LukeTowers commented on #196
@SaifurRahmanMohsin see https://github.com/octobercms/docs/blob/master/backend-forms.md#data-table. The website will be updated with the github doc updates soon. @bennothommo does that documentation cover off any custom PHP stuff required for the use of that widget?

[2019-09-26 21:25] #196 closed

[2019-09-26 23:15] bennothommo commented on #196
@LukeTowers no, just the configuration side at the moment. From what I can tell, I think the server-side data table functionality may not be complete.

[2019-09-27 03:28] SaifurRahmanMohsin commented on #196
@bennothommo The server side data table doesn’t seem to work at all when used in a backend form. I think that [it is being forced to be set at “client”](https://github.com/octobercms/october/blob/master/modules/backend/formwidgets/DataTable.php#L151) and so there isn’t really a way to make it work as server-side... unless I’m missing something, which is why I am requesting some documentation in th

[2019-09-27 03:32] bennothommo commented on #196
@SaifurRahmanMohsin What is it that you are trying to achieve? If it's a case of just having tabular data stored in a model, that's already handled by the client-side data table. As long as you have the field for the data table data added to the `jsonable` attribute, it should be able to save the data from the data table without issue.

If you're trying to store multiple records of a model, that's

[2019-09-27 03:42] SaifurRahmanMohsin commented on #196
I have a [custom manager class in a plugin](https://github.com/SaifurRahmanMohsin/oc-rest-plugin/blob/master/classes/ApiManager.php) which returns a list of API node paths (string values), exposes by various plugins. I’m trying to set up a data table which allows the list to appear in form of table with additional 2 fields: enabled, override path and auth mechanism (dropdown of available auth sche

[2019-09-29 14:56] Samuell1 commented on #331
Only way to define group middlewares is to change it in Kernel.
https://github.com/octobercms/library/blob/develop/src/Foundation/Http/Kernel.php#L52

[2019-09-29 15:08] #331 closed

[2019-10-11 17:25] ayumihamasaki2019 opened #410 "Doc's not very helpful explaining passing parameters in form tag"
The following web page: https://octobercms.com/docs/markup/function-form

Is not very helpful explaining how to pass parameters through the `form` tag. In the end I had to go to the Laravel web site and read their doc's.

Here is a basic example of what I'm taling about:

[code]

I think it would be helpful to people to add this kind of information into the doc's to help people wanting to pass par

[2019-10-11 17:26] LukeTowers commented on #410
@ayumihamasaki2019 make a PR and I'll review it

[2019-10-11 23:31] #410 closed

[2019-10-17 04:21] SplicedWeb opened #412 "Uncaught SyntaxError in {% scripts %}"
I'm getting a console error "Uncaught SyntaxError: Invalid regular expression: missing /" only when {% scripts %} is inserted into a partial.
Line 1, Column 211508 in latest chrome

Somewhere here: e:(/\/\

.

[2019-10-17 04:22] SplicedWeb commented on #412
Added to docs should be another repo sorry

[2019-10-17 04:22] #412 closed

[2019-11-09 23:41] ayumi-cloud opened #418 "CRON in October and Laravel are different"
### October Doc's

Link: https://octobercms.com/docs/setup/installation#crontab-setup

[code]

### Laravel Doc's

Link: https://laravel.com/docs/master/scheduling

[code]

Would it be a good idea to update October Doc's ?

[2019-11-10 01:29] LukeTowers commented on #418
It was changed on Laravel's end in https://github.com/laravel/docs/pull/4380, could you verify that the reported issue that documentation change is meant to fix actually exists? I'd rather we actually fix the underlying issue if there is one rather than make seemingly random changes to the docs, especially since there's a large user base out there that would have followed the existing docs to setu

[2019-11-12 23:57] ayumi-cloud commented on #418
@LukeTowers I have been looking deeper in cron jobs with regards to laravel and october and have come to the conclusion that both sets of doc's are wrong and need updating, I will try and list all the issues and points I have found in my testing and research, for you to review:

1. `php` is misleading and it depends on the hosting company! Sometimes you will need to write the `php` location, some

[2019-11-13 01:04] bennothommo commented on #418
@ayumi-cloud

I worry that trying to cover *everyone's* edge cases in the docs is going to be exhaustive and fill the document with too much info. Where possible, we should be trying to promote the most common setups, and maybe some helpful hints for people who have custom configurations, but that is all.

I think it goes without saying that `php` may be located in different locations, depending o

[2019-11-13 03:15] ayumi-cloud commented on #418
@LukeTowers @bennothommo

As I'm getting such a wide range of results and not really happy to give an exact answer, would you both be happy if I closed this?

[2019-11-13 04:05] #418 closed

[2019-11-13 06:31] Eoler commented on #418
@ayumi-cloud  this is probably the material for a support article: https://octobercms.com/support
(could be also linked from docs)

[2019-11-16 17:31] ayumi-cloud commented on #418
@Eoler yah I agree it would be nice to add it there under a section called: Troubleshooting. But I rather keep quiet and give up trying to argue the case against the politics here.

[2019-11-28 15:54] marcogrueter commented on #394
How about omitting the registration of the unneccessary commands?
Since October\Rain\Foundation\Providers\ArtisanServiceProvider is extended from Illuminate\Foundation\Providers\ArtisanServiceProvider we could just override the $commands and $devCommands properties and remove the that aren't working.

[2019-11-28 15:59] LukeTowers commented on #394
@marcogrueter not a bad idea, although I'd like if we could provide an error message telling the user what the proper command to use is

[2019-11-28 16:24] marcogrueter commented on #394
@LukeTowers hmm that certainly would be nice, but I'm not sure how this could work.
There are only a few 'create' commands - yet - that are equivalent to a laravel native 'make' command and you'd have to intercept the call in command base class and kind of graylist the commands that have a proper use hint. But there are many commands that don't work at all - but this is out of scope for this issue

[2019-11-28 16:34] LukeTowers commented on #394
@marcogrueter that sounds reasonable to me. If October had full coverage for the incompatible artisan commands then I'd say a more specific message would be required but as of now just listing the October alternatives is probably good enough. Could you submit a PR?

[2019-11-28 16:42] marcogrueter commented on #394
Sure thing, I'll submit one for the doc hint here and one for disabling the commands over at the library repo.

[2019-12-12 15:13] prhost opened #423 "Doc Backend Lists not open."
Doc Backend Lists not open. Browser Version 1.0.1 Chromium: 78.0.3904.108 (Official Build) (64-bit) and Safari Version 13.0.4 (13608.4.9.1.4)

![Screen Shot 2019-12-12 at 12 10 33](https://user-images.githubusercontent.com/3984760/70723999-982fbb00-1cd8-11ea-99f5-c0e9f964529d.png)

[2019-12-12 17:29] jeremymouton commented on #423
Seeing this too.

[2019-12-12 20:33] ayumi-cloud opened #424 "\System\Traits\ResponseMaker API is missing in the doc's"
As per conversation here: https://github.com/octobercms/october/pull/4816#issuecomment-565172423

[2019-12-13 17:20] #423 closed

[2019-12-13 17:23] LukeTowers commented on #424
Will be updated when @daftspunk updates the API docs when 461 goes stable.

[2019-12-13 17:23] #424 closed

[2019-12-23 01:47] scottbedard opened #425 "Queued closures were deprecated in L5.3"
Our documentation appears to be out of date with regard to queueing closures.
https://octobercms.com/docs/services/queues#queueing-closures

This functionality was removed in L5.3, and appears to have been restored in L6
https://laravel.com/docs/5.3/upgrade#upgrade-5.3.0
https://laravel.com/docs/6.x/queues#queueing-closures

We should probably leave a note in the docs saying that this is no longer

[2019-12-23 01:48] daftspunk commented on #425
It's been there for years and nobody has seemed to notice, it should be OK to leave it for another couple of weeks (months?) while we upgrade L6. This is certainly some more incentive to do that

[2019-12-23 22:30] LukeTowers commented on #425
Note this was added back in 5.7 (https://github.com/laravel/framework/commit/556b948c41b273144e5f23f6b3b6167bf7e0c84e & https://github.com/laravel/framework/pull/25777).

[2019-12-24 17:01] ayumi-cloud opened #426 "Is it possible to add a list of available logical operators, October accepts for its filters?"
Is it possible to add a list of available logical operators October Filters accepts?

We are all trying to second guess what logical operators we can and can not use with the filter lists.

Doc's web page here: https://octobercms.com/docs/backend/lists#list-filters

It would be amazing to have a list of available logical operators for the following things:

- YAML conditions (without mySQL)

- YAM

[2019-12-24 20:37] ayumi-cloud commented on #426
I'm guessing all these plus more... (to start the ball rolling)

Logical Operator | Code
---|---
Negation of numbers | -
Logical NOT | !
Add, String Concatenation | +
Subtract | -
Multiply | *
Divide | /
Modulus | %
Logical AND | AND
Logical OR | OR
Equal to | ==
Not equal to | !=
Greater than | >
Greater than or equal | >=
Less than | <
Less than or equal | <=

Other ones:

[code]

I don't know i

[2019-12-24 20:38] ayumi-cloud commented on #426
Hopefully you can see why we are asking which ones October accepts when writing `conditions` yaml filters.

[2019-12-28 02:58] LukeTowers commented on #426
@ayumi-cloud it's just passed to whereRaw(), see https://github.com/octobercms/october/blob/master/modules/backend/widgets/Filter.php#L726-L731.

[2019-12-29 18:15] ayumi-cloud opened #427 "Broken links in the doc's section"
Will slowly go through and explain each one.

URL: https://octobercms.com/docs/api/backend/widgets/table

![image](https://user-images.githubusercontent.com/57409060/71560641-ce08c980-2a64-11ea-9a97-77d38cb1ec8b.png)

Change to URL: https://jsperf.com/performance-of-array-vs-object/3

---

URL: https://octobercms.com/docs/api/october/rain/database/readme

![image](https://user-images.githubusercon

[2019-12-29 23:07] daftspunk commented on #427
@ayumi-cloud Have you confirmed these reports? Upon inspection, most of these links appear to be working fine

[2019-12-29 23:24] ayumi-cloud commented on #427
@daftspunk All the ones I have posted, I have personally checked and confirmed.

I'm guessing the https://octobercms.com/docs/cms/pages/ has the same issue, I found in this issue: https://github.com/octobercms/docs/issues/392

I can demo the error in a third testing tool, see gif:

![ezgif-5-ff37afb66fb1](https://user-images.githubusercontent.com/57409060/71564065-1c808d00-2a92-11ea-8f5c-b480802ec

[2019-12-30 04:00] daftspunk commented on #427
I mean, have you opened the website in a browser and clicked the link yourself

https://octobercms.com/docs/cms/pages/ redirects to https://octobercms.com/docs/cms/pages which does not have this problem

[2019-12-30 04:54] daftspunk commented on #392
I think the tester might be broken

Below pulled straight from Chrome:
[code]

[2019-12-30 06:54] LukeTowers commented on #392
@ayumi-cloud what's the latest on this?

[2019-12-30 14:25] ayumi-cloud commented on #427
@daftspunk yes, have opened all the links in a browser myself.

I give you examples so we are on same page.

Link | Result
---|---
(main) https://octobercms.com/docs/cms/pages/ | 200
(ToC) https://octobercms.com/docs/cms/pages/#introduction | 200
(Internal) https://octobercms.com/docs/cms/pages/themes#php-section | 400

![image](https://user-images.githubusercontent.com/57409060/71585815-c7835c00-

[2020-01-02 03:21] bennothommo commented on #427
@ayumi-cloud The links work for me just fine, but I think I see where the issue might lie.

The **PHP section** link you reported above as a 404 has the following HTML: `<a href="themes#php-section">PHP section</a>`. It's possible that your link scanner is appending the `themes` as a new segment at the end of the URL, as opposed to overwriting the last segment.

Instead of https://octobercms.com/d

[2020-01-02 14:06] ayumi-cloud commented on #427
@bennothommo If it was purely the link scanner as the issue that would be cool, the trouble is that I'm copying the links and if I click on those links in my browser I get the same error.

Yes the error is:

Surely that's a rewrite issue in the redirects somewhere?

----

Also don't forget there are other types of 404 errors I have listed above e.g.

URL: https://octobercms.com/docs/api/october/ra

[2020-01-03 14:36] bennothommo commented on #427
@ayumi-cloud I don't believe that's the case - what I meant in my original post was that I traversed the docs pages as you said, and clicked the links you pointed to, and they worked. Yes, the URL you listed above showed a 404, but unless I am clicking the wrong link somewhere, I never got that URL through normal navigation of the docs.

You're correct here though - the link there is definitely in

[2020-01-03 16:12] ayumi-cloud commented on #427
@bennothommo

No problem, will do that now for you.

[2020-01-03 16:20] summercms opened #430 "Coding error with <code> wrapping headers and text"
URL: https://octobercms.com/docs/api/october/rain/support/readme

![image](https://user-images.githubusercontent.com/57409060/71670789-ff391080-2d68-11ea-89a0-9624d7c2dbf8.png)

another screenshot of same web page:

![image](https://user-images.githubusercontent.com/57409060/71670992-a5851600-2d69-11ea-8354-ec32812e6192.png)

Notice the header sizes getting smaller and smaller due to an open `<cod

[2020-01-03 16:27] LukeTowers commented on #430
@ayumi-cloud this file is available here: https://github.com/octobercms/library/blob/master/src/Support/README.md, although @daftspunk this looks like an issue with the website's parser of the MD files

[2020-01-07 19:20] ayumi-cloud commented on #426
@LukeTowers Thanks for the link, so basically all this information is missing from the doc's:

### date

- `:filtered`
- `:after`
- `:before`

### daterange

- `:afterDate`
- `:after`
- `:beforeDate`
- `:before`

### number

- `:filtered`

### numberrange

- `:min`
- `:max`

### text

- `:value`

[2020-02-12 10:19] ideepblue commented on #394
Is there a way that adding back those Laravel artisan commands? I use `db:seed` a lot in my project.

I tried to add `'Illuminate\Foundation\Providers\ArtisanServiceProvider',` in `config/app.php`, but it doesn't work.

[code]

[2020-02-12 12:39] LukeTowers commented on #394
@ideepblue what do you use `db:seed` for?

[2020-02-12 22:28] ideepblue commented on #394
Hi @LukeTowers , we use it to run our seeder file from CLI. I knew I can do it through plugins updates, but it doesn't provide the flexibility as the `db:seed` command.

[2020-02-13 00:14] ideepblue commented on #394
Anyway, I make it works by registering the `db:seed` in Plugin.php

[code]

[2020-02-13 00:20] LukeTowers commented on #394
@ideepblue fair enough, I typically just utilize the plugin update system and `php artisan october:up` but manually specifying the seeder class to be used is a valid use case. @bennothommo could you re-add it?

[2020-02-13 02:47] bennothommo commented on #394
@LukeTowers @ideepblue `db:seed` is now re-added: https://github.com/octobercms/library/commit/9bc02271fdb74c3326d977549062f659e7f24095

[2020-02-23 16:47] ayumi-cloud opened #433 "How to make radio button selected/checked using yaml?"
How to make radio button checked using yaml?

There is no answer to this in the doc's found here: https://octobercms.com/docs/backend/forms#field-radio

However, looking at the code in the main repo found here: https://github.com/octobercms/october/blob/master/modules/backend/widgets/form/partials/_field_radio.htm#L22

Says that October is looking for: `$field->isSelected($value)`

Questions:

1.

[2020-02-23 21:57] ayumi-cloud commented on #433
~No need reply, we already found solution and will upload the pr in a few hours after we had a long lunch.

[2020-02-24 15:18] bennothommo commented on #433
@ayumi-cloud Try `default: true` in the YAML config.

[2020-02-24 17:12] ayumi-cloud commented on #433
@bennothommo Hi thanks for your suggestion, sorry if I'm being a bit thick! I'm not sure how the `default: true` would work in this situation.

I give more information and see what your thoughts are on this:

[code]

Let's say for example we want the following to be setup from the start:

![image](https://user-images.githubusercontent.com/57409060/75174529-a2ceed80-5728-11ea-8a90-c0232fcfb64b.png)

[2020-02-25 22:31] LukeTowers commented on #433
@ayumi-cloud radio buttons work the same as dropdowns
[code]

[2020-02-25 23:34] ayumi-cloud commented on #433
@LukeTowers

Ah now I see and get what you both are saying! Sorry language barrier when I read the:

[code]

To me it makes better sense saying something like:

[code]

[2020-02-26 03:15] bennothommo commented on #433
@ayumi-cloud Sorry my bad, I misread your original post to mean "checkbox", not radios. @LukeTowers' answer is the correct one here.

[2020-02-28 17:00] LukeTowers commented on #433
Fixed in #434

[2020-02-28 17:00] #433 closed

[2020-03-02 01:27] bcwaretx opened #437 "array_where() example closure has arguments reversed"
docs/services/helpers#method-array-where

array_where wraps Laravel Arr::where()
https://laravel.com/docs/5.5/helpers#method-array-where
which in turn wraps array_filter()

Documented arguments for the closure are `function ($value, $key)`. Current documentation lists `function ($key, $value)`.

[2020-03-02 06:39] #437 closed

[2020-03-02 06:39] daftspunk commented on #437
Thanks @bcwaretx !

[2020-03-18 02:01] igor-tv opened #441 "The Has Many Through relationship description does not contain the otherKey parameter"
[Has Many Through](https://github.com/octobercms/docs/blob/master/database-relations.md#has-many-through) example looks like this:

[code]
This example does not work correctly for me when outputting to the backend lists. But it starts working correctly when I add the **otherKey** parameter. Maybe you need to add it to the example in documentation?

[code]

[2020-03-18 02:03] bennothommo commented on #441
@igor-tv Please feel free to submit a PR to the docs with that addition, if you wish.

[2020-03-19 04:06] #441 closed

[2020-03-27 13:09] florianstancioiu opened #445 "The Algolia powered search is inactive in certain conditions"
# What happens:

The Algolia powered search is inactive in certain conditions.
There is no response from the search at all, no results are being shown in the custom search dropdown.

# When it happens:

This happens when I have multiple documentation tabs open at the same time, I switch to a different website for a while and I spend some time there (5+ minutes but not tested) and when I come back,

[2020-04-09 14:57] joelamltc opened #450 "`softDelete` flag is needed for deleting related models on relationship when related model is implemented `SoftDelete`."
When you delete a model and also want to delete its related models, but the related model is implemented  `October\Rain\Database\Traits\SoftDelete`.
A correct relationship definition should be like this:
[code]
But this one is never been documented.

[2020-04-09 15:48] bennothommo commented on #450
@joelamltc Would you be willing to submit a PR adding that to [the docs](https://github.com/octobercms/docs/blob/master/database-traits.md) for us?

[2020-04-09 15:49] bennothommo commented on #450
Actually, scratch that - the `softDelete` flag is mentioned here: https://github.com/octobercms/docs/blob/master/database-traits.md

[2020-04-09 15:49] #450 closed

[2020-04-09 15:54] joelamltc commented on #450
@bennotthommo
Sorry for overlooks.

[2020-04-30 21:53] zoomyboy opened #453 "Syntax check not allowed with example phpunit.xml file"
When I copy the example phpunit.xml to a plugin and run my tests, I'm getting this warning:

[code]

According to this post, the SyntaxCheck setting is actually deprecated: https://stackoverflow.com/questions/44328114/phpunit-what-does-syntaxcheck-configuration-parameter-stands-for-exactly

Should this be removed from the example file since PHPUnit doesnt seem to parse this at all?

[2020-04-30 21:58] LukeTowers commented on #453
@bennothommo do the updated L6 docs include this change?

[2020-04-30 22:09] zoomyboy commented on #453
The 6x branch kicked out a lot of phpunit settings - so the options are really limited in 6x.
However I cannot find any version which includes this - even if I go down to 5.6:

It's not in the L6 branch though:
https://github.com/laravel/laravel/blob/6.x/phpunit.xml
https://github.com/laravel/laravel/blob/5.6/phpunit.xml

[2020-05-01 00:59] bennothommo commented on #453
@LukeTowers I'm pretty certain the L6 docs stipulate that line to be removed.

[2020-05-04 02:18] bennothommo commented on #453
Fixed by #454.

[2020-05-04 02:18] #453 closed

[2020-05-31 03:55] philip opened #460 "Difficulties finding the backend"
I struggled to find the backend UI. Here's what I did:

1. curl -s https://octobercms.com/api/installer | php
2. php artisan october:install
3. Opened it in browser (using Valet service)
4. See an 'October Demo' site; w/ 3 pages

But I could not find the backend admin UI; and I saw no indication of one (e.g., no login) in the demo.

IMHO this should be simpler/clearer to find. I ended up guessing

[2020-05-31 06:49] RomainMazB commented on #460
Hi philip, I'm feeling you're not in the right place: this is not a documentation improvement but a October's one.

Even if I never been stuck on this (the dashboard's uri is asked during the install process), it's not a bad idea to prevent the new October's users to be stuck at the very beginning and this is easy to add and create a pull request ( in the right repo ).

If you're not comfortable e

[2020-05-31 07:11] LukeTowers commented on #460
@RomainMazB feel free to submit a PR to add a Backend link to the main menu of the demo theme, it would take a bit for a new user to get comfortable enough with how October works to submit a PR that would support the URL being configurable. Should be simple enough for you though, let me know if you want any help.

[2020-07-15 16:01] ayumi-cloud opened #467 "The doc's are missing the available Navigation menus properties"
Link to the doc's: https://octobercms.com/docs/plugin/registration#navigation-menus

October has the following default properties:

[code]

There is no mention of the `default` properties in the doc's.

It would be nice to have a table in the doc's listing the `default` properties available with descriptions on their usage for newbie's.

e.g.

property | description
---|---
icon | displays an icon

[2020-07-16 01:18] bennothommo commented on #467
@ayumi-cloud Would you be willing to create a PR documenting this? They're [documented in the NavigationManager](https://github.com/octobercms/october/blob/develop/modules/backend/classes/NavigationManager.php#L153-L183), so it'd just be a case of converting that documentation and formatting it for the docs.

[2020-07-17 23:50] hitchhooker opened #469 "Improved get started documentation and required permissions to run OctoberCMS"
Getting OctoberCMS backendup and running to run is always a multihour headbanger for me and in the end I do not even know why I got it to work and is my installation safe at all, because I have spammed permission changes based on search results. This is very much due the lack of proper Get started documentation for terminal users.
I would love to write pull request for this but as I said im still

[2020-07-18 08:52] bennothommo commented on #469
@hitchhooker I've seen that you've been in discussions with @LukeTowers on Discord about this so I'm gonna close this. If you have a suggestion as to any details the documentation may be lacking in this respect, please feel free to comment and I'll re-open.

[2020-07-18 08:52] #469 closed

[2020-07-23 16:16] LukeTowers commented on #467
Closed by https://github.com/octobercms/docs/pull/468

[2020-07-23 16:16] #467 closed

[2020-07-25 13:41] SplicedWeb opened #471 "Types missing from plugin-components.md"
Noticed recently there are not all types showing in the documentation here:
[Plugin Component Properties](https://octobercms.com/docs/plugin/components#component-properties)
String, checkbox and dropdown are listed only.

They are mentioned here
[docs ui inspector](https://octobercms.com/docs/ui/inspector)

Within the blog
[Inspector 2.0](https://octobercms.com/blog/post/inspector-2)
stringList, t

[2020-09-09 07:26] gergo85 opened #476 "The width of Field columns are very small"
![issue](https://user-images.githubusercontent.com/2959112/92567768-76bb2a00-f27e-11ea-814b-9fb0a669a530.jpg)

[2020-09-09 20:31] LukeTowers commented on #476
Where's the typo?

[2020-09-09 20:35] gergo85 commented on #476
Sorry. Not typo. The width of Field column is very small.

[2020-09-10 02:21] bennothommo commented on #476
@LukeTowers @daftspunk might be related to this CSS in the docs:

[code]

Unticking that in dev tools seems to make everything flow nicely again.

[2020-09-10 02:36] mjauvin commented on #476
I asked Sam to add that to fix the docs pages on mobile.

Didn't expect this to break on table headers.

[2020-09-10 02:48] mjauvin commented on #476
Documentation pages on mobile were bleeding and made the page scroll horizontally.

[2020-09-10 03:22] bennothommo commented on #476
Ah fair enough @mjauvin. Perhaps the rule could be applied for mobile only through a `@media` query.

[2020-09-10 11:19] mjauvin commented on #476
It wouldn't help as it also breaks the above page on mobile...

I'll try to exclude th/thead tags, that will fix the issue.

[2020-09-10 11:38] mjauvin commented on #476
This new CSS rule should fix the issue:
[code]

[2020-09-10 19:19] ayumi-cloud opened #477 "CSS Squashing table data"
Hi,

On example doc's page: https://octobercms.com/docs/markup/function-form

See screenshot:

![image](https://user-images.githubusercontent.com/57409060/92789408-ba0eb900-f3a2-11ea-9aef-3d498a99b7e0.png)

Now if I over-ride the css we get this screenshot:

![image](https://user-images.githubusercontent.com/57409060/92789554-df9bc280-f3a2-11ea-8a3d-6494506e4058.png)

p.s. I'm in the middle of cod

[2020-09-11 01:06] bennothommo commented on #477
Duplicate of #476

[2020-09-11 01:06] #477 closed

[2020-09-11 03:55] daftspunk commented on #476
Should be fixed now

[2020-09-11 04:15] #476 closed

[2020-09-11 10:37] ayumi-cloud commented on #477
Opps my bad didn't see the dup. issue.

[2020-09-12 15:35] ayumi-cloud opened #479 "Hard to read and understand the ` available toolbar buttons` blockquote in the section Rich editor / WYSIWYG"
Maybe it's me as my head is spinning today, but I just look at the blockquote of information found here: https://octobercms.com/docs/backend/forms#widget-richeditor

The blockquote is as follows:

Then it says:

All I'm seeing is a wall of text and I kind of have an issue with the `|` and `-` in this wall of text.

Surely it would be better to add some formatting to this wall of text to make it a

[2020-09-12 21:40] #479 closed

[2020-09-24 12:46] ayumi-cloud opened #481 "Is it possible to make the custom validation messages a bit easier to find in the doc's"
So I was reading the doc's and writing the following code in the models section php file.

Something like this:

[code]

Basically I started my reading of the doc's here: https://octobercms.com/docs/services/validation#custom-error-messages

Tested it and it didn't work.

So I did some more digging through Google as the search engine in the October CMS website kept sending me to that page.

Thanks

[2020-09-24 15:45] LukeTowers commented on #481
Feel free to submit a PR, this is why the docs are open source too

[2020-09-26 09:25] ayumi-cloud commented on #481
@LukeTowers

![image](https://user-images.githubusercontent.com/57409060/94337491-a12d1700-ffe2-11ea-9006-a76140e0a491.png)

[2020-09-27 08:25] LukeTowers commented on #481
Those two things are different though, the Validation service is the underlying logic that powers the Validation trait, the validation trait is essentially syntactic sugar on top of the validation service meant specifically for models.

[2020-09-27 09:13] ayumi-cloud commented on #481
@LukeTowers `syntactic sugar` lol.

### Laravel Validation Section

![image](https://user-images.githubusercontent.com/57409060/94361019-47dbeb00-00a9-11eb-8e9d-a9c0bfa5bc60.png)

### Plugin Validation Section

![image](https://user-images.githubusercontent.com/57409060/94361113-dc464d80-00a9-11eb-886d-785b7531a826.png)

### Trait Section

![image](https://user-images.githubusercontent.com/5740906

[2020-09-27 17:58] LukeTowers commented on #481
Hmm, I think it would probably be better just to link to the validation trait page from the models page, since that's what the docs are for, not for "plugin validation"

[2020-09-28 04:56] bennothommo commented on #481
Definitely do not agree with there being a Validation page under Plugins, validation happens everywhere - not just within plugins. I personally find the validation docs to be easy to find - Validation after all is a service, and if you recognise the models using a trait, then the Traits section is easy to find too.

While I agree that maybe a link between the pages could be made, and the content c

[2020-09-28 10:07] ayumi-cloud commented on #481
@LukeTowers @bennothommo

No problem understand what you both are saying. Will submit a pr just for the `array` codes examples.

Just going to ask (I'm sure it will be ok). I want to hard fork the doc's and write my own custom notes etc over the top and merge some October Tips into the doc's and convert it into using html language from markdown etc. Just thought I'd be transparent and say it - I'm

[2020-09-28 15:42] LukeTowers commented on #481
@ayumi-cloud sounds good. FYI for your fork if you want to publicly release it you can't call it "October II". The project is MIT licensed but the name, brand, & logo belong to us.

[2020-09-28 18:17] ayumi-cloud commented on #481
Ah ok I will put it under a project code name.

[2020-09-28 18:25] ayumi-cloud commented on #481
Yah it will be public, I will put it under a project code name instead to full fill the license agreement. The hard forking of the doc's is more of a learning curve thing for me to better understand Laravel and I just want to write custom notes everywhere...

[2020-09-30 11:13] angelcoding opened #484 "Core development setup and best practices"
I would like to provide a pull request for the main "october/october" repository but am a bit confused on how best to setup my local dev machine for core October development and best practices.

I have nearly been turned off completely by what seems to be a lack of decent documentation to get me quickly setup and I'm sure I can't be the only one that has found this a barrier to entry when trying t

[2020-09-30 17:38] LukeTowers commented on #484
That would definitely be a valuable resource to have, unfortunately it would take a lot of work to compile. Here's what I would recommend at a high level:

Optional but recommended development tools:
- [Install Homestead](https://laravel.com/docs/6.x/homestead#installation-and-setup)
- [Install Source Tree](https://www.sourcetreeapp.com/)
- [Install VS Code](https://code.visualstudio.com/)
- (if o

[2020-10-03 14:32] bennothommo commented on #484
@angelcoding I am working on an (unofficial) October CLI tool which has an `install` command to quickly install an instance of October CMS. The intention is also to provide a mode of installation that will set up the instance to be ready for contributions to October CMS development - for example, it will set up the local Git repository, (optionally) create a fork on GitHub automatically and config

[2020-10-03 17:04] angelcoding commented on #484
@LukeTowers That's amazing! Thank you so much for spending the time to write all of that. I think that pretty much matches where I was heading but it's definitely good to have confirmation of that from those that have been doing it for a while.

The "make sure you commit before running composer commands" was something that was making me nervous, even before you mentioned it. Now I know that's just

[2020-10-14 18:06] zimudec opened #488 "Correct and easy procedure to upgrade octobercms 1.0 to 1.1"
I noticed that version 1.1 is already stable, which uses laravel 6.x which is the current LTS version under maintenance. I have installations of octobercms 1.0, but I have doubts about it, since it is not clear from documentation:

- What is the easiest and correct procedure to upgrade to version 1.1? https://octobercms.com/support/article/rn-11 <- Is this the only procedure?
- Is it necessary to

[2020-10-14 18:56] LukeTowers commented on #488
Duplicate of #5314.

[2020-10-14 18:56] #488 closed

[2020-10-21 11:01] xseguib opened #489 "PHP version in public docs is incorrect but in setup-installation.md is ok"
If you follow the setup installation steps it says that you need PHP version 7.0.8 or higher but should be 7.2 or higher as composer.json says or setup.installation.md

![2020-10-21_12h57_23](https://user-images.githubusercontent.com/11737272/96711198-7a71be80-139d-11eb-84eb-c941c65424c6.png)

[2020-10-21 11:35] bennothommo commented on #489
@xseguib The October CMS docs on octobercms.com are usually updated each stable version. October CMS 1.1.0 and 1.1.1 are edge releases - it is these versions that require PHP 7.2. If you are using a 1.0.x version of October CMS, you are fine with PHP 7.0.8 or above.

[2020-10-21 12:43] #489 closed

[2020-10-21 17:02] LukeTowers commented on #489
@xseguib Just to clarify @bennothommo's comment, the marketplace docs are updated with stable _marketplace_ releases. v1.1.0 is a stable update but is only available through composer right now.

[2020-11-07 12:13] ayumi-cloud opened #493 "Blockquote advice in the Extending models section"
I'm just trying to setup a method to run some code before the `onSave` event and want to setup a [beforeSave](https://octobercms.com/docs/api/model/beforesave) event.

I've got a simple question, which the doc's seems to give the wrong advice.

Link: https://octobercms.com/docs/database/model#extending-models

Extract see the blockquote saying:

---

I have the following setup:

[code]

Let's say

[2020-11-07 12:30] ayumi-cloud commented on #493
Closing this I just re-read the page and see it would only run on the extact model using something like this:

[code]

[2020-11-07 12:30] #493 closed

[2020-11-12 16:24] #426 closed

[2020-11-12 16:30] #481 closed

[2020-11-26 19:46] LukeTowers opened #499 "Document standard CSS rules for themes to include from the richeditor"
WordPress documents the standard CSS rules that should be included in the themes to enable the backend layout tools (like the richeditor image tag alignment properties); we should do that as well. Additionally, it would be nice if we documented a way for theme developers to include styles that would affect the backend richeditor so that the richeditor editing experience can reflect more closely wh

[2020-12-01 12:44] ayumi-cloud opened #500 "Google asked me to add these things into the doc's"
@LukeTowers

Google asked me to add these things into the doc's.

### 1. Recommend developers use next-gen images

I'm thinking adding to this page: https://octobercms.com/docs/markup/filter-media

Adding a code example and mentioning the benefits of adding next-gen images.

[code]

### 2. Replace animated GIFs with video

I'm thinking adding to this page: https://octobercms.com/docs/markup/filter

[2021-02-23 12:25] mkinternet opened #514 "Reorder"
https://octobercms.com/docs/backend/reorder

This doc doesnt have information that model must have sort_order column in the database.

[2021-02-23 12:36] mjauvin commented on #514
It is more detailed here:

https://octobercms.com/docs/database/behaviors#sortable

[2021-02-23 12:37] mjauvin commented on #514
But feel free to submit a PR to the October doc repo!

[2021-02-26 19:44] #514 closed

[2021-03-24 09:53] igor-tv opened #516 "Add an example of implementation validation rules in a model extending"
[There is](https://github.com/octobercms/docs/blob/develop/plugin-extending.md) a lack of information on how to validate the added fields to the model. Is this implemented using the `addDinamycProperty()` method?

[2021-03-25 02:47] daftspunk commented on #516
I've added this to the docs. Is it what you're after?

---

To add model validation for introduced fields, hook into the `beforeValidate` event and throw a `ValidationException` exception.

    User::extend(function ($model) {
        $model->bindEvent('model.beforeValidate', function () use ($model) {
            if (!$model->billing_first_name) {
                throw new \ValidationException(['

[2021-03-25 04:32] igor-tv commented on #516
Yes thank you. This is what I need.

[2021-03-25 04:32] #516 closed, assigned to nobody

[2021-03-26 09:12] daftspunk commented on #303
This is outside the scope of the platform

[2021-03-26 09:12] #303 closed

[2021-03-26 09:27] daftspunk commented on #12
Documented already

---

You can create a link to the current page by filtering an empty string:

    <a href="{{ ''|page }}">Refresh page</a>

[2021-03-26 09:27] #12 closed

[2021-04-06 21:18] daftspunk commented on #246
This was fixed some time ago. If this is still occurring, ping me and we can revisit. Thanks!

[2021-04-06 21:18] #246 closed

[2021-04-06 22:36] daftspunk commented on #425
The docs are now referring to an L6 build so we can close this. Thanks!

[2021-04-06 22:36] #425 closed

[2021-04-14 21:15] #500 closed

[2021-04-28 00:42] #242 closed

[2021-04-28 00:42] daftspunk commented on #242
Looks like nginx is pretty up to date these days

[2021-04-28 00:45] #392 closed

[2021-05-16 10:26] igor-tv opened #521 "Add extension parameter to Resizer Service documentation"
I can use the `extension` parameter when resizing the image, but this feature is not described in the [documentation](https://github.com/octobercms/docs/blob/develop/services-resizer.md#resize-parameters).
```{{'someimage.jpg' | media | resize (1280, auto, {'quality': 80, 'extension': 'webp'})}}```

[2021-05-25 05:45] daftspunk commented on #232
This appears to be documented now

---
### Extending the View Widget

Provides an opportunity to manipulate the view widget.

For example you might want to toggle showCheckboxes based on a property of your model.

    public function relationExtendViewWidget($widget, $field, $model)
    {
        // Make sure the model and field matches those you want to manipulate
        if (!$model instanceof M

[2021-05-25 05:45] #232 closed

[2021-06-02 13:16] m49n opened #524 "Emmet and autocomlete in October 2.*"
Emmet and autocomplete do not work in the editor at the moment, is it temporary or a bug?

[2021-06-02 13:16] #524 closed, assigned to nobody

[2021-06-28 16:14] #430 closed

[2021-11-04 01:45] daftspunk commented on #347
Confirmed this is documented

[2021-11-04 01:45] #347 closed

[2021-11-08 13:58] mkinternet opened #527 "Add custom file name config information"
https://github.com/octobercms/docs/blob/develop/1.x/plugin/settings.md

/plugins/author/myplugin/config/custom.php
becomes
Config::get('Acme.Demo::custom.maxItems');

[2021-11-08 23:37] daftspunk commented on #527
Thanks. Added this to docs

---

You may also use a different filename for the configuration file and this affects the key name. For example, a configuration file named **custom.php** will prefix the key name with `custom`, using the following format: **Acme.Demo::custom.maxItems**. Example configuration file **plugins/acme/demo/config/custom.php**.

[code]

[2021-11-08 23:37] #527 closed, assigned to nobody

[2022-01-08 08:22] ZhiweiWu0425 opened #535 "When I was translating the document, I found a wording flaw"
![image](https://user-images.githubusercontent.com/89636889/148637338-85e600c4-f396-417e-aaa2-54fe7b018735.png)

[2022-01-11 23:45] #535 closed, assigned to nobody

[2022-01-11 23:45] daftspunk commented on #535
Nice find, thanks!

[2022-01-15 07:57] ZhiweiWu0425 opened #537 "a slight deficiency"
Not enough quantity (of course this is not a big problem)
![image](https://user-images.githubusercontent.com/89636889/149614318-06f50700-aee3-4169-a60a-64d0c21cf63f.png)

[2022-01-16 23:37] #537 closed, assigned to nobody

[2022-01-16 23:42] daftspunk commented on #537
Thanks for the report. This is fixed

![image](https://user-images.githubusercontent.com/1392869/149682940-ba29b349-b7b7-4ecc-ae4b-c0d81ad3c248.png)

[2022-01-20 07:34] ZhiweiWu0425 opened #539 "Link dead"
Docs：https://docs.octobercms.com/2.x/services/collections.html#times
..... factories to create Eloquent models....

also，Please search all md documents for "(../markup)", these links should be wrong

[2022-01-20 22:10] #539 closed, assigned to nobody

[2022-01-20 22:10] daftspunk commented on #539
Thanks for this!

[2022-09-23 08:49] mesiarm opened #567 "File Attachments - attachMany - validation example - forceSave needed"
Add warning to documentation, that you need use forceSave() instead of save() when using validation on attach many, instead validation fails. I was still getting error without forceSave(), also mentioned here: https://octobercms.com/forum/post/the-validation-rules-dont-work-properly-with-file-uploading?page=2

[2022-09-26 07:09] daftspunk commented on #567
This doesn't look like a bug. The `forceSave` method is documented here: https://docs.octobercms.com/2.x/database/traits.html#overriding-validation

[2022-09-26 07:09] #567 closed, assigned to nobody

[2022-10-14 16:11] prhost opened #570 "https://octobercms.com/docs still redirect to v2"
Just to report that the url https://octobercms.com/docs (old documentation link) still redirects to v2.

[2022-10-14 21:44] daftspunk commented on #570
Hi @prhost

That is correct, this is for SEO purposes.

[2022-10-14 21:44] #570 closed, assigned to nobody

[2022-10-23 08:08] daftspunk commented on #471
Documentation for this has been added in v3:

https://docs.octobercms.com/3.x/element/inspector-types.html

Best regards

[2022-10-23 08:08] #471 closed